<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="app-container">
    <router-outlet>
       <strong>Angular learning</strong>&nbsp;&nbsp;&nbsp;
       <a routerLink="movie" routerLinkActive="active-link">Movie</a>&nbsp;
       <a routerLink="edit-movie" routerLinkActive="active-link">edit-movie</a>
       <hr>
    </router-outlet>
  </div>
</body>
</html>
